/* Estilos base para el tablero */
#tablero {
  border: 5px solid black;
  box-sizing: border-box;
  margin: 20px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
#tablero {
  background: 
    /* Patr贸n de fondo barroco */
    linear-gradient(45deg, #D2691E 25%, transparent 25%) 0 0,
    linear-gradient(-45deg, #D2691E 25%, transparent 25%) 0 0,
    linear-gradient(45deg, transparent 75%, #D2691E 75%) 0 0,
    linear-gradient(-45deg, transparent 75%, #D2691E 75%) 0 0,
    /* Patr贸n astrol贸gico */
    radial-gradient(circle at 50% 50%, #4b0082, #8a2be2, #ffdab9, #a66c2f);
  background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px, cover;
  background-color: #6b3f0f;
}

#logo {
  width: 100px;
  margin-right: 20px;
}

#titulo {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  color: #e6d5b8;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  float: right;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo-container {
  display: flex;
  align-items: center;
}


/* Agregar transparencia para que se vea el fondo */
.fila {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
}

.columna {
  flex: 1;
  border: 1px solid black;
  background-color: white;
}

/* Estilos para PC */
@media (min-width: 768px) {
  #tablero {
    margin: 50px auto;
  }
}

/* Estilos para m贸vil */
@media (max-width: 767px) {
  #tablero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 10px solid black;
    box-sizing: border-box;
  }
}

#cartas {
  border: 6px solid #663300;
  border-radius: 10px;
  width: 70px; 
  height: 100px; 
  position: absolute;
  z-index: 0;
  left: -5px;
  top: -5px;
}

#contenedor-cartas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 20px;
  z-index: 4;
}
.carta {
  background-image: url('../images/left-mazo.jpg');
  background-size: contain;
  width: 70px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1px;
}

#boton-barajar {
  position: absolute;
  top: -60px;
  right: -5px;
  z-index: 2;
  background-color: #FFDAB9;
  padding: 10px 20px;
  font-size: 20px;
  transform: rotate(-10deg);
  outline: none;
  transition: background-color 0.3s ease-in-out;
  border: 3px solid #a66c2f;
  box-shadow: 3px 3px 0px #6b3f0f;
}
#boton-barajar:hover {
  cursor: pointer;
}
/* Estilo para dispositivos de escritorio */
@media (min-width: 768px) {
  #boton-barajar:hover {
	  background-color: #663300;
	  color: #fff;
  }
}
.rectangulo {
  width: 70px;
  height: 100px;
  background-color: #ffe0bd;
  border: 2px solid #a66c2f;
  box-shadow: 5px 5px 5px #a66c2f;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #6b3f0f;
  text-align: center;
  line-height: 100px;
  position: absolute;
  bottom: 10px;
  left: calc(33.33% + 10px);
  margin-top: -150px;
  z-index: -2;
}
.wizard-container {
  position: relative;
  width: 410px;
  height: 50px;
  background-color: #ffe0bd;
  border: 2px solid #a66c2f;
  box-shadow: 5px 5px 5px #a66c2f;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  text-align: center;
  line-height: 100px;
  bottom: 30px;
  left: calc(33.33% + 10px);
  font-size: 16px;
  
}

.wizard-hand {
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url('../images/items/manoWizard.png');
  background-size: cover;
}